<div class="white-box">
    <div class="form-group">
        <label><b>Username : </b></label>
        <span>{{details?.username}}</span>
    </div>
    <div class="form-group">
        <label><b>Email : </b></label>
        <span>{{details?.email}}</span>
    </div>
    <div class="form-group">
        <label><b>Phone : </b></label>
        <span>{{details?.phoneNumber}}</span>
    </div>
    <div class="form-group">
        <label><b>Country : </b></label>
        <span>{{details?.country}}</span>
    </div>
</div>

  
  
